<!DOCTYPE html>
<html>
<head>
    <title>DivCity</title>
    <link rel="stylesheet" type="text/css" href="../static/game.css"></link>
    <script src="../static/jQuery.js" type="text/javascript"></script>
    <script src="../static/menu.js" type="text/javascript"></script>
</head>

<body>
    <div id="titlebox">
        <h1>Welcome to DivCity</h1>
    </div>

    <div id="gamebox">
        <div id="messagebar">

        </div>


        <canvas id="gamemap" width="640" height="640" style="border:1px solid #000000;">
        </canvas>

        <!-- <div id="mapbox">
            {% for ycor in range(20) %}
                {% for xcor in range(20) %}
                    {% if xcor < 19 and ycor < 19 %}
                        <div class='tile' id='{{xcor}},{{ycor}}' style="border-top-width: 1px; border-right-width: 0px; border-left-width: 1px; border-bottom-width: 0px;"></div>
                    {% elif xcor < 19 and ycor == 19 %}
                        <div class='tile' id='{{xcor}},{{ycor}}' style="border-top-width: 1px; border-right-width: 0px; border-left-width: 1px; border-bottom-width: 1px;"></div>
                    {% elif ycor < 19 and xcor == 19 %}
                        <div class='tile' id='{{xcor}},{{ycor}}' style="border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-bottom-width: 0px;"></div>
                    {% else %}
                        <div class='tile' id='{{xcor}},{{ycor}}' style="border-width: 1px;"></div>
                    {% endif %}
                {% endfor %}
                <br/>
            {% endfor %}
        </div> -->

        <div id="gamebar">
            <br/>
            <button id="build_road" onclick="build_road()">build_road</button>
            <button id="bulldozer" onclick="bulldoze()">bulldozer</button>
            <button id="query" onclick="query()">query</button>
        </div>

    </div>

</body>
</html>
